html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4 {
  width: 200px;
  text-align: left;
  color: whitesmoke;
}
ul {
  padding: 0px;
}
li {
  width: 200px;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}
.clock {
  width: 200px;
  height: 50px;
  background-color: rgba(121, 97, 145, 0.615);
  border: 1px solid rgb(112, 78, 146);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock h1 {
  color: rgba(50, 159, 167, 0.664);
}
form input {
  width: 200px;
  height: 30px;
}
.form input:focus {
  outline: none;
}
.weather {
  justify-self: flex-end;
  align-self: flex-start;
  color: beige;
}
.form,
.greeting {
  display: none;
}
/* 자바스크립트로 클래스를 추가 해주면서 안 보이게 만든 컨텐츠를 보이게 만듬 */
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s ease;
}
