.form,
.greeting {
  display: none;
}
/* 자바스크립트로 클래스를 추가 해주면서 안 보이게 만든 컨텐츠를 보이게 만듬 */
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s ease;
}
